
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dz_asp_mvc_db</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dz_asp_mvc_db.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" >
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" >
                    <ul class="navbar-nav flex-grow-1 flex-wrap" >
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Registration</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Users">Users</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                         {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateProduct">Create Product</a>
                             </li>
                         }
                        <li class="nav-item " style="width:50%;">
                            <form asp-controller="Home" asp-action="Index" method="post">
                                <input type="text" name="search" placeholder="Search" style="width:80%;"/>
                                <button type="submit" class="btn btn-dark">GO</button>
                            </form>
                         </li>
                    </ul>
                </div>
                
                <div class="justify-content-end d-inline-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Account" asp-action="Index" method="get">
                            <button class="btn btn-secondary" type="submit">Account</button>
                        </form>

                        <form asp-controller="Home" asp-action="Logout" method="post">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger" type="submit">Logout</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Home" asp-action="Login" method="get">
                            <button class="btn btn-outline-success" type="submit">Login</button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
