@{
    ViewData["Title"] = "Home Page";
}
@model List<UserModel>

<div class="text-center">
    <h1>Users</h1>
    <ul>
        @foreach (var user in Model)
        {
            <li style="list-style:none">
                <label>Id: @user.Id</label><br />
                <label>Login: @user.Login</label><br />
                <label>Email: @user.Email</label><br />
                <img src="@Url.Content($"data:image/png;base64,{Convert.ToBase64String(user.Pic)}")" /><br />
            </li>
        }
    </ul>
</div>

